<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-zinc-900">
    <form action="/createuser" method="post">
        <input type="text" placeholder="name" name="username" class="border-rounded bg-zinc-700">
        <input type="email" placeholder="email" name="email" class="border-rounded bg-zinc-700"required>
        <input type="password" placeholder="password" name="password" class="border-rounded bg-zinc-700"required>
        <button class="bg-blue-400 border-rounded color-white-400 ">submit</button>
    </form>
</body>
</html>